<nav>
  <div class="nav-wrapper light-blue lighten-1">
    <div class="container">
      <a [routerLink]="['']" class="brand-logo hide-on-med-and-down">WCMO</a>
      <!--<a data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>-->

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/attorneys']">Attorneys</a></li>
        <li><a [routerLink]="['/areas']">Practice Areas</a></li>
        <li><a [routerLink]="['/noteworthy']">Noteworthy</a></li>
        <li *ngIf="onHomePage()"><a pageScroll href="#contact">Contact</a></li>
        <li *ngIf="!onHomePage()"><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
      <ul class="side-nav hide-on-large-only fixed" id="slide-out">
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['/attorneys']">Attorneys</a></li>
        <li><a [routerLink]="['/areas']">Practice Areas</a></li>
        <li><a [routerLink]="['/noteworthy']">Noteworthy</a></li>
        <li *ngIf="onHomePage()"><a pageScroll href="#contact">Contact</a></li>
        <li *ngIf="!onHomePage()"><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
      <a href="#" materialize="sideNav" [materializeParams]="[{edge:'left'}]" data-activates="slide-out" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </div>
</nav>
