<div *ngIf="attorney" class="container">
  <h2>{{attorney.name}}</h2>
  <div class="row">
    <div class="col s8">
      <ul class="collection">
        <li class="collection-item"><b>Phone: </b>{{attorney.phone}}</li>
        <li class="collection-item"><b>Fax: </b>{{attorney.fax}}</li>
        <li class="collection-item"><b>Email: </b><a [href]="'mailto:' + attorney.email">{{attorney.email}}</a></li>
      </ul>
      <p class="with-newlines">{{attorney.bio}}</p>
      <ul class="collection">
        <li class="collection-item"><b>Year Joined Firm: </b>{{attorney.yearJoinedFirm}}</li>
        <li class="collection-item"><b>Areas of Practice: </b>
          <p class="with-newlines">{{attorney.areasOfPractice}}</p>
        </li>
        <li *ngIf="attorney.litigation" class="collection-item"><b>Litigation: </b>{{attorney.litigation}}</li>
        <li class="collection-item"><b>Bar: </b>{{attorney.bar}}</li>
        <li class="collection-item"><b>Education: </b>
          <p class="with-newlines">{{attorney.education}}</p>
        </li>
        <li *ngIf="attorney.pastPositions" class="collection-item"><b>Memberships: </b>
          <p class="with-newlines">{{attorney.pastPositions}}</p>
        </li>
        <li *ngIf="attorney.pastPositions" class="collection-item"><b>Past Positions: </b>
          <p class="with-newlines">{{attorney.pastPositions}}</p>
        </li>
      </ul>
    </div>
    <div class="col s4">
      <img class="responsive-img" [src]="getPicture()">
    </div>
  </div>
</div>
