<div *ngIf="attorney" class="container">
  <h2>{{attorney.name}}</h2>
  <div class="row">
    <div class="col s8">
      <ul class="collection">
        <li class="collection-item"><b>Location: </b>{{attorney.location}}</li>
        <li class="collection-item"><b>Phone: </b>{{attorney.phone}}</li>
        <li class="collection-item"><b>Fax: </b>{{attorney.fax}}</li>
        <li class="collection-item"><b>Email: </b>{{attorney.email}}</li>
      </ul>
      <p *ngFor="let b of attorney.bio">{{b}}</p>
      <ul class="collection">
        <li class="collection-item"><b>Year Joined Firm: </b>{{attorney.yearJoined}}</li>
        <li class="collection-item"><b>Areas of Practice: </b>
          <p *ngFor="let area of attorney.areas">{{area}}</p>
        </li>
        <li *ngIf="attorney.litigation" class="collection-item"><b>Litigation: </b>{{attorney.litigation}}</li>
        <li class="collection-item"><b>Bar: </b>{{attorney.bar}}</li>
        <li class="collection-item"><b>Education: </b>
          <p *ngFor="let edu of attorney.education">{{edu.school + ' - ' + edu.degree}}</p>
        </li>
        <li *ngIf="attorney.memberships" class="collection-item"><b>Memberships: </b>
          <p *ngFor="let membership of attorney.memberships">{{membership}}</p>
        </li>
        <li *ngIf="attorney.past" class="collection-item"><b>Past Positions: </b>
          <p *ngFor="let job of attorney.past">{{job}}</p>
        </li>
      </ul>
    </div>
    <div class="col s4">
      <img class="responsive-img" [src]="getPicture()">
    </div>
  </div>
</div>
